.card-order {
    min-width: 300px;
}

mat-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.scroll-on-hover {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}

.scroll-on-hover:hover span {
    display: inline-block;
    animation: scroll-left-hover 60s linear infinite;
}

@keyframes scroll-left-hover {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}